<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>My Book List</title>
  <th:block th:replace="layout::link-css"></th:block>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <style>
    body {
      background-color: #f1f1f1;
      transition: background-color 0.5s ease;
    }

    .galaxy-mode {
      background: radial-gradient(circle, #360033, #0b8793);
      color: #ffffff;
    }

    .toggle-btn {
      display: inline-block;
      padding: 5px 10px;
      background-color: #f1f1f1;
      border: none;
      color: black;
      font-size: 14px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text=${title}></h1>
  <table class="table">
    <tr>
      <th style="background: radial-gradient(circle, #360033, #0b8793); color: white;">ID</th>
      <th style="background: radial-gradient(circle, #360033, #0b8793); color: white;">>Title</th>
      <th style="background: radial-gradient(circle, #360033, #0b8793); color: white;">Author</th>
      <th style="background: radial-gradient(circle, #360033, #0b8793); color: white;"> >Price</th>
      <th style="background: radial-gradient(circle, #360033, #0b8793); color: white;">Category</th>
      <th style="background: radial-gradient(circle, #360033, #0b8793); color: white;">Action</th>
      <th sec:authorize="hasAnyAuthority('AD')">Action</th>
    </tr>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}" style="color: gray;"></td>
      <td th:text="${book.title}" style="color: gray;"></td>
      <td th:text="${book.author}" style="color: gray;"></td>
      <td th:text="${book.price}" style="color: gray;"></td>
      <td th:text="${book.category != null ? book.category.name : 'N/A'}" style="color: gray;"></td>
      <th sec:authorize="hasAnyAuthority('ADMIN')"></th>
      <td sec:authorize="hasAnyAuthority('ADMIN')">



        <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
        <a th:href="@{/books/delete/{id}(id=${book.id})}" onclick="return confirm('Are you sure??')">Delete</a>
      </td>

    </tr>
  </table>

</div>
<button class="toggle-btn" onclick="toggleGalaxyMode()">Chế độ galaxy/sáng</button>

<script>
    function toggleGalaxyMode() {
      var body = document.body;
      body.classList.toggle("galaxy-mode");

      var toggleBtn = document.querySelector(".toggle-btn");
      if (body.classList.contains("galaxy-mode")) {
        toggleBtn.textContent = "Chế độ sáng";
      } else {
        toggleBtn.textContent = "Chế độ galaxy";
      }
    }
  </script>

<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:inline="javascript">
    function deleteBook(link){
      if(confirm('Are you sure?')){
        $.ajax({
          url:$(link).attr('href'),
          type: 'DELETE',
          success: result ->{
            if(!result.success){
              alert(result.message);
            }else{
              $(link).parent().parent().remove();
            }
          }
        });
      }
    }
  </script>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>