<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ung dung quan ly </title>
  <th:block th:replace="layout :: link-css"></th:block>

</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class ="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        TRANG CHU QUAN LY SACH- KET NOI CO SO DU LIEU MYSQL
      </a>
    </div>
  </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>

</body>
</html>